@{
    ViewData["Title"] = "List of Report";
    Layout = "_CounsellingDoctor";

}
@model List<SessionType>
<div class="row justify-content-center">
    <div class="card w-50">
        <div class="card-body">
            <div class="card-header text-center">
                <h6>Search for patient Sessions:</h6>
            </div>
            <br />

            <div>
                <form asp-action="SearchPatientSession" method="post" class="row g-2">
                    <div class="col-8">
                        <input name="ID" class="form-control" placeholder="Patient ID Number" type="text" />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-success">Search</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
<br />
<div class="row justify-content-center">
    <h1>List of Session(s)</h1>
</div>
@if (TempData["error"] != null)
{
    <div class="text-center">
        <div class="alert alert-danger">
            <p>@TempData["error"]</p>
        </div>
    </div>
    <br />
}
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Counselling Type</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.PatientName</td>
                    <td>@item.CounsellingType</td>
                    <td>
                        <form method="post" asp-action="UpdateSessionID">
                            <input name="ID" hidden value="@item.CounsellingSessionId" />
                            <button class="btn btn-primary">Update Session</button>
                        </form>
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td>0 records found.</td>
            </tr>
        }

    </tbody>
</table>
